<template>
  <div id="content">
    <main>
      <aside>
        <tabbar>
          <tab label="History" icon="fa-history">
            <history />
          </tab>
          <tab label="My Bingos" icon="fa-archive">
            <bingo-list />
          </tab>
        </tabbar>
      </aside>
      <bingo-grid @select="triggerSelector" />
    </main>
    <div id="bingo-win" :class="{visible: bingo}">
      <p>BINGO !</p>
    </div>
    <bingoer-selector ref="selector" />
  </div>
</template>

<script>
import BingoGrid from './components/bingo-grid'
import BingoerSelector from './components/bingoer-selector'
import History from './components/history'
import BingoList from './components/bingo-list'
import Tabbar from './components/theme/tabbar'
import Tab from './components/theme/tab'

import { hasMissing } from './lib/array'

export default {
  name: 'Main',
  components: { BingoerSelector, BingoGrid, History, BingoList, Tabbar, Tab },
  data () {
    return {
      bingo: false
    }
  },
  created () {
    this.$store.commit('init')
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'addChannelToCell' || mutation.type === 'removeChannelFromCell') {
        const bingos = state.grid.bingos
        if (hasMissing(state.grid.previousBingos, bingos)) {
          this.bingo = true
          setTimeout(() => { this.bingo = false }, 2200)
        }
        this.$store.commit('updateBingos')
      }
    })
  },
  methods: {
    triggerSelector (id, cellElement) {
      this.$refs.selector.toggle(id, cellElement)
    }
  }
}
</script>
