@import "../grids";

$sal: gay pokemon digimon vore bellies
  muscles armpits incest armor puns
  foreskin misunderstandings underwear dads musk
  sweat sizediff ass nips cum
  hypno threesomes dp feet bondage;

@include grid-data($sal, 'sal')
