
$color-text-light-base: white;
$color-text-light-primary: $color-text-light-base;
$color-text-light-secondary: transparentize($color-text-light-base, 1 - .70);
$color-text-light-disabled: transparentize($color-text-light-base, 1 - .50);
$color-text-light-divider: transparentize($color-text-light-base, 1 - .12);

$color-text-dark-base: black;
$color-text-dark-primary: transparentize($color-text-dark-base, 1 - .87);
$color-text-dark-secondary: transparentize($color-text-dark-base, 1 - .54);
$color-text-dark-disabled: transparentize($color-text-dark-base, 1 - .38);
$color-text-dark-divider: transparentize($color-text-dark-base, 1 - .12);

$color-text-on-primary: $color-text-light-primary;
$color-text-on-primary-light: $color-text-dark-primary;
$color-text-on-primary-dark: $color-text-light-primary;

$color-text-on-secondary: $color-text-light-primary;
$color-text-on-secondary-light: $color-text-dark-primary;
$color-text-on-secondary-dark: $color-text-light-primary;

$color-background-status: #E0E0E0;
$color-background-appbar: #F5F5F5;
$color-background: #FAFAFA;
$color-background-dialog: white;

$color-border: $color-text-dark-divider;
