#bingoer-selector {
  display: table;
  visibility: hidden;
  opacity: 0;
  width: 300px;
  height: 70%;
  max-height: 500px;

  @extend %popper;

  &.visible {
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    visibility: visible;
    opacity: 1;
  }

  header {
    h1, nav { display: table-cell; }

    h1 {
      font-size: 18px;
      width: 100%;
      color: $color-primary-dark;
      padding: 8px;
      border-radius: 5px 5px 0 0;
      line-height: 32px;

      &:before {
        @extend %material-icon;
        display: inline-block;
        content: "";
        background-size: 32px;
        background-color: $color-background-dialog;
        border-color: $color-primary-light;
        margin-right: 8px;
      }
    }

    i {
      padding-right: 8px;
      font-size: 24px;
      cursor: pointer;
      color: $color-text-dark-disabled;

      &:hover {
        color: $color-text-dark-primary;
      }
    }



  }


  h2 {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px $color-background-status;
    margin: 8px 16px 16px 16px;
    padding-bottom: 4px;
    color: $color-text-dark-secondary
  }

  input {
    display: block;
    background: $color-background-dialog;
    border: solid 1px $color-background-status;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 32px;
    width: 300px;
    margin: 0 3px 8px 3px;

    &:focus, &:active {
      border-color: $color-secondary-light;
    }
  }

  label {
    display: block;
    position: relative;

    i {
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -9px;
      font-size: 18px; line-height: 18px; height: 18px;
      color: $color-text-dark-disabled;

      &.clear {
        left: auto; right: 12px;
        cursor: pointer;
        opacity: 0;

        &.visible {
          opacity: 1;
        }
      }
    }
  }

  ul {
    user-select: none;
    list-style-type: none;
    li {
      cursor: pointer;
      img {
        @extend %material-icon;
      }
    }
  }

  ul.search, ul.recent {
    @extend %md-list;
    @extend %md-list_clickable;
  }

  ul.bingoers {
    padding-left: 16px;
    li {
      display: inline-block;
      position: relative;
      margin: 0 4px;

      img { pointer-events: none; }

      i {
        position: absolute;
        height: 34px;
        line-height: 34px;
        width: 34px;
        text-align: center;
        color: white;
        background-color: rgba(255,0,0,.5);
        border-radius: 100%;
        opacity: 0;
      }

      &:hover i {
        opacity: 1;
      }
    }
  }

  > section {
    display: table-row;
    position: relative;
    height: 100%;

    .section-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: auto;
    }

    .empty-overlay {
      top: 75px;
      width: 250px;
      margin: auto;
    }

    &:after {
      position: fixed;
      @extend %spinner;
      height: 48px;
      width: 48px;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -27px;
      visibility: hidden;
      opacity: 0;
      z-index: -20;

      transition: opacity .7s ease-in-out,
      visibility .7s ease-in-out;
    }

    > * {
      opacity: 1;
      transition: opacity .2s ease-in-out;
      width: 100%;
    }

    &.loading {

      &:after {
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease-in-out;
        z-index: 20;
      }

      > * {
        opacity: .2;
      }
      pointer-events: none;
    }
  }
}
