$grid-cell-max-size: 140px;
$grid-size: 5;

.bingo-grid-container {
  display: table-cell;
  position: relative;
  padding: 16px;
  vertical-align: middle;
}

.bingo-grid {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  max-width: $grid-cell-max-size * $grid-size;
  max-height: $grid-cell-max-size * $grid-size;
  margin: auto;

  > table {
    width: 100%;
    height: 100%;

    max-width: $grid-cell-max-size * $grid-size;
    max-height: $grid-cell-max-size * $grid-size;
    table-layout: fixed;
    border-collapse: collapse;
    background: $color-background-dialog;
    user-select: none;

    td {
      position: relative;
      height: 20%;
      border: solid 1px $color-border;
      overflow: hidden;
      text-align: center;
      color: $color-text-dark-primary;
      text-shadow: -1px 0 .25px white, 0 1px .25px white, 1px 0 .25px white, 0 -1px .25px white;
      vertical-align: bottom;
      cursor: pointer;


      &:hover:before {
        background-color: $color-background-status;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: no-repeat center;
        background-size: 64px 64px;
        opacity: .69;
        transition: background-color .2s ease-in-out;
      }

      &.full:before {
        opacity: .21;
      }

      &.xs p {
        font-size: 14px;
      }

      &.s p {
        font-size: 16px;
      }

      p {
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 24px;
      }

      .content {
        display: table;
        z-index: 1;
        position: relative;
        height: 100%;
        width: 100%;

        .content-inner, p {
          display: table-row;
        }

        .content-inner {
          height: 100%;
          > div {
            position: absolute;
            height: 100%;
            width: 100%;
            overflow: auto;
          }

          img {
            height: 32px;
            width: 32px;
            border-radius: 100%;
            border: solid 1px $color-secondary-dark;
            @extend %md-elevation-1;
            pointer-events: none;
            background: $color-background-dialog;
            margin: 4px;

            //TODO: intermediate size

            &:first-child:last-child {
              height: 64px;
              width: 64px;
              margin-top: 12px;
              @extend %md-elevation-3;
            }
          }
        }
      }
    }
  }
}
