%bingo-preview {
  @extend %md-elevation-2;
  border: solid 1px $color-secondary-dark;
  table-layout: fixed;
  border-collapse: collapse;
  background: $color-background-dialog;

  td {
    position: relative;
    height: 20%;
    border: solid 1px $color-background-status;

    div {
      @extend %absolute-expand;
      display: table;
      table-layout: fixed;

      p {
        display: table-cell;
        height: 100%; width: 100%;
        background-position: center;
        background-size: cover;
      }
    }
  }
}