// @import "../../node_modules/typeface-open-sans/index.css";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
@import "theme/theme";
@import "utils";
@import "elements/main";

@import "grids/main";
@import "bingo-grid";
@import "bingoer-selector";
@import "bingo-preview";
@import "sidebar";
//TODO
@import "elements/tabs";

* {
  margin: 0;
  padding: 0;
}

html, body, #content {
  height: 100%;
  width: 100%;
  background: $color-background;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: $color-text-dark-primary;
  overflow: hidden;
}

#content {
  display: table;
  > main {
    display: table-row;
    position: relative;
    overflow: hidden;

    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

#bingo-win {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; bottom: 0;
  font-weight: bold;
  text-align: center;
  z-index: 4200;
  font-size: 200px;
  line-height: 100%;
  opacity: 0;
  display: block;
  visibility: hidden;
  color: $color-secondary;
  user-select: none;
  pointer-events: none;
  transition: opacity .2s ease-in-out;
  background: rgba(255,255,255,.4);

  p {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    p {
      animation-name: bingo-win;
      animation-duration: 2s;
    }
  }
}

@keyframes bingo-win {
  0% { opacity: 0; transform: scale(.5)}
  20% { opacity: 1; transform: scale(1)}
  90% {opacity: 1; transform: scale(1)}
  100% { opacity: 0; transform: scale(1.5)}
}