$sidebar-width: 400px;

#content > main > aside {
  display: table-cell;
  width: $sidebar-width;
  background: $color-background-dialog;
  @extend %md-elevation-8;
  overflow: hidden;

  h1 {
    position: relative;
    z-index: 30;
    @extend %md-elevation-4;
    padding: 8px 16px;
    color: $color-text-on-primary-dark;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .005em;
    line-height: 26px;

    background: $color-primary-dark url("../images/icon.png") no-repeat 16px center;
    text-align: center;
    background-size: 64px;
  }

  > div {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: $sidebar-width;

    .content {
      display: table-row;
      height: 100%;
      position: relative;
    }
  }
}

#history {
  ul {
    @extend %md-list;
  }

  .empty-overlay {
    top: 35%;
  }

  li {
    display: table;
    color: $color-text-dark-secondary;

    > * { display: table-cell; vertical-align: middle; }

    em {
      font-size: 12px;
      white-space: nowrap;
      padding: 8px;
      text-align: right;
    }

    p {
      width: 100%;
    }

    b {
      font-weight: normal;
      color: $color-text-dark-primary;
    }
  }
}

#bingo-list {
  @extend %md-list;
  @extend %md-list_clickable;
  width: 100%;

  table {
    @extend %bingo-preview;
    height: 50px;
    width: 100px;
  }

  li {
    display: table;
    width: 100%;
    padding: 0;

    > div {
      display: table-cell;
      width: 1px;
      vertical-align: middle;
      padding: 8px 16px;
    }

    > p {
      display: table-cell;
      padding: 8px 0;
      color: $color-text-dark-secondary;
      b {
        color: $color-secondary-dark;
        display: block;
      }
    }

    nav {
      display: table-cell;
      vertical-align: middle;
      color: transparent;

      i {
        transition: color .2s ease-in-out;
        cursor: pointer;

        &.fa-trash:hover {
          color: red;
        }
      }
    }

    &:hover nav, &.selected nav {
      color: $color-text-dark-secondary;
    }

    &.selected {
      > p b {
        color: $color-text-on-secondary-light;
      }
    }
  }
}