%md-list {
  list-style-type: none;

  li {
    position: relative;
    padding: 8px;
    z-index: 10;

    transition: all .42s ease-in-out,
      background-color .2s ease-in-out;
    img {
      @extend %material-icon;
      margin-right: 8px;
    }
  }
}

.list-container {
  .empty-overlay {
    user-select: none;
    transition: opacity .42s ease-in-out,
      visibility .42s ease-in-out;
    color: $color-text-dark-secondary;

    position: absolute;
    top: 0;
    left: 0; right: 0;
    text-align: center;
    opacity: 0; visibility: hidden;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    img {
      height: 64px;
      width: 64px;
      pointer-events: none;
    }

    b {
      display: block;
      font-weight: normal;
      color: $color-text-dark-primary;
    }
  }

  .floating-action {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 100%;
    background-color: $color-secondary;
    color: $color-text-on-secondary;
    text-align: center;
    line-height: 32px;
    padding: 4px;
    @extend %md-elevation-4;
    transition: box-shadow .42s ease-in-out, background-color .42s ease-in-out;

    &:hover {
      @extend %md-elevation-8;
    }

    &:active {
      @extend %md-elevation-2;
      background-color: $color-secondary-light;
    }
  }
}

%md-list_clickable {
  user-select: none;

  li {
    cursor: pointer;

    &:hover {
      background-color: $color-background-status;
    }
    //TODO: active

    &.disabled {
      opacity: .5;
      cursor: auto;

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      background-color: $color-secondary-light;
      cursor: auto;
    }
  }
}

.list-enter-active, .list-leave-active {
  transition: all .42s ease-in-out;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

.list-leave-active {
  position: absolute !important;
}
