$arrow-size: 15px;
$arrow-inside-ref: 10px;

%popper {
  position: absolute;
  top: 0; left: 0;
  background: $color-background;
  border: solid 1px $color-background-status;
  border-radius: 3px;
  z-index: 42;

  @extend %md-elevation-8;

  .arrow {
    position: absolute;
    border: solid $color-secondary-light;
    width: 0;
    height: 0;
    margin: $arrow-size;
    transition: top .2s ease-in-out, left .2s ease-in-out;
  }

  .popper[x-placement^="top"] {
    margin-bottom: $arrow-size - $arrow-inside-ref;

    .arrow {
      border-width: $arrow-size $arrow-size 0 $arrow-size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -$arrow-size;
      left: 50%;
      margin-left: -$arrow-size;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .popper[x-placement^="bottom"] {
    margin-top: $arrow-size - $arrow-inside-ref;
    .arrow {
      border-width: 0 $arrow-size $arrow-size $arrow-size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -$arrow-size;
      left: 50%;
      margin-left: -$arrow-size;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: $arrow-size - $arrow-inside-ref;

    .arrow {
      border-width: $arrow-size $arrow-size $arrow-size 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -$arrow-size;
      top: 50%;
      margin-top: -$arrow-size;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: $arrow-size - $arrow-inside-ref;

    .arrow {
      border-width: $arrow-size 0 $arrow-size $arrow-size;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -$arrow-size;
      top: 50%;
      margin-top: -$arrow-size;
      margin-left: 0;
      margin-right: 0;
    }
  }
}