@-webkit-keyframes web2vi-spinner-keyframes {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes web2vi-spinner-keyframes {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

%spinner {
  display: block;
  content: "";
  border: solid 8px transparent;
  border-top-color: $color-secondary;
  border-bottom-color: $color-secondary;
  border-radius: 50%;

  -webkit-animation: web2vi-spinner-keyframes 1.5s infinite linear;
  animation: web2vi-spinner-keyframes 1.5s infinite linear;
}
