$transition-duration: .42s;
$transition-function: cubic-bezier(.55,0,.1,1);

.md-tabs {
}

.md-tabs-navigation {

  @extend %md-elevation-8;
  position: relative;
  background: $color-background-dialog;
  color: $color-text-dark-primary;
  border-top: solid 1px $color-text-dark-divider;

  .md-button {
    display: table-cell;
    width: 1%;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 0;
    font-size: 14px;
    transition: color $transition-duration $transition-function,
      background-color $transition-duration $transition-function;

    &.md-active {
      color: $color-secondary-dark;

      i {
        color: $color-secondary-light;
      }
    }

    i {
      display: block;
      font-size: 24px;
      color: $color-text-dark-secondary;
      margin: 4px 0 8px 0;
      transition: color $transition-duration $transition-function;
    }

    &:hover {
      background-color: $color-background-appbar;

      &.md-active {
        background-color: transparentize($color-secondary-light, .87);
      }
    }

    &:active {
      transition: background-color 0s $transition-function;
      background-color: $color-background-status;

      &.md-active {
        background-color: transparentize($color-secondary-light, .69);
      }
    }
  }

}

.md-tabs-indicator {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: $color-secondary-light;
  transform: translateZ(0);

  transition: left $transition-duration $transition-function,
  width $transition-duration $transition-function;
}

.md-tabs-container {
  display: table-row;
  position: relative;
  height: 100%;
}

.md-tabs-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.tab-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  //position: relative;

  transition: opacity $transition-duration $transition-function,
    transform $transition-duration $transition-function;

  &.slide-left-enter, &.slide-right-leave-active {
    opacity: 0;
    transform: translate(100%, 0);
  }
  &.slide-left-leave-active, &.slide-right-enter {
    opacity: 0;
    transform: translate(-100%, 0);
  }
}