<template>
  <div class="md-tabs">
    <h1>Sal's Stream Bingo !</h1>
    <div class="md-tabs-container">
      <div class="md-tabs-wrapper">
        <slot />
      </div>
    </div>
    <div ref="navigation" class="md-tabs-navigation">
      <div
        v-for="({ label, icon }, index) in MdTabs.items"
        :key="index"
        :class="{
          'md-active': index === activeTab,
          'md-icon-label': icon && label,
        }"
        class="md-button"
        @click="setActiveTab(index)"
      >
        <template v-if="!icon">
          {{ label }}
        </template>
        <template v-else>
          <i :class="icon" class="fa"></i>
          <span class="md-tab-label">
            {{ label }}
          </span>
        </template>
      </div>
      <span
        ref="indicator"
        :style="indicatorStyles"
        class="md-tabs-indicator"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tabbar',
  data: () => ({
    activeTab: 0,
    indicatorStyles: {},
    noTransition: true,
    MdTabs: {
      items: [],
      activeTab: 0,
      transitionName: ''
    }
  }),
  provide () {
    return {
      MdTabs: this.MdTabs
    }
  },
  watch: {
    activeTab (val) {
      this.$nextTick().then(() => {
        this.setIndicatorStyles()
      })
      this.MdTabs.activeTab = val
    }
  },
  mounted () {
    this.$nextTick().then(() => {
      this.setActiveTab(0)
      this.setIndicatorStyles()
      return this.$nextTick()
    }).then(() => {
      window.setTimeout(() => {
        this.noTransition = false
        this.setupObservers()
      }, 100)
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.callResizeFunctions)
  },
  methods: {
    setActiveTab (index) {
      this.MdTabs.transitionName = this.noTransition ? '' : this.activeTab < index ? 'slide-left' : 'slide-right'
      this.$nextTick(() => { this.activeTab = index })
    },
    setIndicatorStyles () {
      this.$nextTick().then(() => {
        const activeButton = this.$el.querySelector('.md-button.md-active')

        if (activeButton && this.$refs.indicator) {
          const buttonWidth = activeButton.offsetWidth
          const buttonLeft = activeButton.offsetLeft

          this.indicatorStyles = {
            left: `${buttonLeft}px`,
            width: `${buttonWidth}px`
          }
        }
      })
    },
    callResizeFunctions () {
      this.setIndicatorStyles()
    },
    setupObservers () {
      // TODO
      window.addEventListener('resize', this.callResizeFunctions)
    }
  }
}
</script>
