@import "material/elevation";
@import "material/colors";

// Primary color: Brown 500
$color-primary: #795548;
$color-primary-light: #a78172;
$color-primary-dark: #4a2b20;

// Secondary color: Green 800
$color-secondary: #2e7c31;
$color-secondary-light: #60ac5d;
$color-secondary-dark: #004f04;

@import "material/icons";
