<template>
  <table>
    <tr v-for="row in rows" :key="row.chunkId">
      <td v-for="cell in row" :key="cell.id" class="bingo">
        <div>
          <p v-for="channel in getChannels(cell)" :key="channel.id" :style="{backgroundImage: `url('${channel.avatarURI}')`}"></p>
        </div>
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'BingoGrid',
  props: {
    gridId: {
      type: Number,
      required: true
    }
  },
  computed: {
    grid () { return this.$store.state.grids[this.gridId] },
    rows () { return this.grid ? this.grid.rows : [] }
  },
  methods: {
    getChannels (cell) {
      return cell.channels.map(id => this.$store.getters.findCachedChannel(id))
    }
  }
}
</script>
