<template>
  <div id="bingoer-selector" ref="selector" :class="{visible}">
    <header>
      <h1 :class="cellId" class="bingo">
        {{ cellName }} bingoers
      </h1>
      <nav>
        <i class="fas fa-times" @click="visible = false"></i>
      </nav>
    </header>
    <label>
      <i class="fas fa-search"></i>
      <input
        ref="searchInput"
        v-model="searchText"
        type="text"
        title="Search for bingoers"
        placeholder="Search for new bingoers …"
      >
      <i :class="{visible: !!searchText}" class="fas fa-times-circle clear" @click="searchText = ''"></i>
    </label>
    <ul class="bingoers">
      <li v-for="channel in cellChannels" :key="channel.id" @click="removeChannel(channel)">
        <i class="fas fa-minus"></i>
        <img :src="channel.avatarURI">
      </li>
    </ul>
    <section :class="{loading}">
      <div class="section-wrapper">
        <h2 v-show="recentlyUsed.length">
          Recently used
        </h2>
        <ul class="recent">
          <li
            v-for="channel in recentlyUsed"
            :key="channel.id"
            :class="{disabled: hasChannel(channel)}"
            @click="addChannel(channel)"
          >
            <img :src="channel.avatarURI" alt=""> {{ channel.name }}
          </li>
        </ul>
        <h2 v-show="searchText && searchResults.length">
          Search results
        </h2>
        <div class="list-container">
          <ul class="search">
            <li
              v-for="channel in searchResults"
              :key="channel.id"
              :class="{disabled: hasChannel(channel)}"
              @click="addChannel(channel)"
            >
              <img :src="channel.avatarURI" alt=""> {{ channel.name }}
            </li>
          </ul>
          <div :class="{visible: !searchText && !recentlyUsed.length && !searchResults.length}" class="empty-overlay">
            <img src="../../images/logo-empty.png" />
            <p>Use the search bar to look for Picarto folks to add in</p>
          </div>
          <div :class="{visible: searchText && !preloading && !loading && !recentlyUsed.length && !searchResults.length}" class="empty-overlay">
            <img src="../../images/logo-unknown.png" />
            <b>No matching Picarto user found</b>
            <p>If the person you are looking for streams privately, you need to enter their exact name.</p>
          </div>
        </div>
      </div>
    </section>
    <i ref="arrow" class="arrow"></i>
  </div>
</template>

<script>
import Popper from 'popper.js'
import { repeatableTimeout } from '../lib/repeatable-timeout'
import { searchChannels } from '../lib/picarto'

export default {
  name: 'BingoerSelector',
  data () {
    return {
      popper: null,
      visible: false,
      preloading: false,
      loading: false,
      searchText: '',
      previousSearchText: '',
      searchResults: [],
      currentCellId: null,
      searchPromise: null,
      addedChannels: []
    }
  },
  computed: {
    currentCell () {
      return this.$store.state.grid.findCellById(this.currentCellId)
    },
    cellName () {
      return this.currentCell ? this.currentCell.title : ''
    },
    cellId () {
      return this.currentCell ? this.currentCell.id : ''
    },
    cellChannels () {
      if (!this.currentCell) return []
      return this.currentCell.channels.map(id => this.$store.getters.findCachedChannel(id))
    },
    recentlyUsed () {
      return this.$store.state.recentlyUsed
        .map(id => this.$store.getters.findCachedChannel(id))
        .filter(channel => channel.name.toLowerCase().indexOf(this.searchText.trim().toLowerCase()) >= 0)
        .slice(0, 5)
    }
  },
  watch: {
    searchText () {
      this.preloading = true
      repeatableTimeout('bingoerSearch', () => {
        if (this.searchText.trim() === this.previousSearchText.trim()) return
        this.previousSearchText = this.searchText
        this.preloading = false
        this.search()
      }, 500)
    }
  },
  methods: {
    hasChannel (channel) {
      if (!this.currentCell) return false
      return this.currentCell.hasChannel(channel.id)
    },
    toggle (id, cellElement) {
      if (this.currentCellId !== id) {
        this.popper = new Popper(cellElement, this.$refs.selector, {
          placement: 'right-start',
          modifiers: {
            arrow: { element: this.$refs.arrow }
          }
        })
        this.currentCellId = id
        this.visible = true
      } else {
        this.visible = !this.visible
      }

      if (this.addedChannels.length) this.$store.commit('addToRecentlyUsed', { channels: this.addedChannels })
      this.addedChannels = []

      if (this.visible) {
        this.$nextTick(() => { this.$refs.searchInput.focus() })
      }
    },
    search () {
      this.loading = true
      if (this.searchPromise) this.searchPromise.myCancel()
      this.searchPromise = searchChannels(this.searchText)
        .then(results => {
          this.searchResults = results
          this.loading = false
          this.searchPromise = null
        })
      this.searchPromise.catch(e => {
        if (e === 'cancelled') return
        this.searchResults = []
        this.loading = false
      })
    },
    addChannel (channel) {
      this.addedChannels.push(channel.id)
      this.$store.commit('addChannelToCell', {
        channel: channel,
        cellId: this.currentCellId
      })
    },
    removeChannel (channel) {
      const addedIndex = this.addedChannels.indexOf(channel.id)
      if (addedIndex >= 0) this.addedChannels.splice(addedIndex, 1)
      this.$store.commit('removeChannelFromCell', {
        channel: channel,
        cellId: this.currentCellId
      })
    }
  }
}
</script>
