<template>
  <div class="list-container">
    <transition-group id="bingo-list" tag="ul" name="list">
      <li
        v-for="(grid, i) in grids"
        :key="grid.name"
        :class="{selected: currentGrid === i}"
        @click="currentGrid = i"
      >
        <div><bingo-preview :grid-id="i" /></div>
        <p><b>{{ grid.name }}</b>{{ grid.hitCount }} hits</p>
        <nav><i class="fas fa-trash" @click="deleteGrid(i)"></i></nav>
      </li>
    </transition-group>
    <div class="floating-action" @click="newGrid">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</template>

<script>
import BingoPreview from './bingo-preview'
export default {
  name: 'BingoList',
  components: { BingoPreview },
  computed: {
    grids () {
      return this.$store.state.grids
    },
    currentGrid: {
      get () { return this.$store.state.currentGrid },
      set (gridId) {
        if (gridId !== this.currentGrid) this.$store.commit('setCurrentGrid', { gridId })
      }
    }
  },
  methods: {
    newGrid () {
      this.$store.commit('newGrid')
    },
    deleteGrid (gridId) {
      // TODO: Undo
      this.$store.commit('deleteGrid', { gridId })
    }
  }
}
</script>
