<template>
  <section class="bingo-grid-container">
    <div class="bingo-grid">
      <table>
        <tr v-for="row in rows" :key="row.chunkId">
          <td
            v-for="cell in row"
            :key="cell.id"
            :ref="cell.id"
            :class="{[cell.id]: true, [cell.size]: true, full: cell.channels.length}"
            class="bingo"
            @click="selectCell(cell.id)"
          >
            <div class="content">
              <div class="content-inner">
                <div>
                  <img
                    v-for="channel in getChannels(cell)"
                    :key="channel.id"
                    :src="channel.avatarURI"
                  >
                </div>
              </div>
              <p>{{ cell.title.toUpperCase() }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </section>
</template>

<script>
export default {
  name: 'BingoGrid',
  computed: {
    rows () { return this.$store.state.grid.rows }
  },
  methods: {
    selectCell (id) {
      this.$emit('select', id, this.$refs[id][0])
    },
    getChannels (cell) {
      return cell.channels.map(id => this.$store.getters.findCachedChannel(id))
    }
  }
}
</script>
