<template>
  <div id="history" class="list-container">
    <transition-group tag="ul" name="list">
      <li v-for="item in historyItems" :key="item.key">
        <img :src="item.channel.avatarURI" />
        <p><b>{{ item.channel.name }}</b> got into <b>{{ item.cell.title }}</b></p><em>{{ item.timeString }}</em>
      </li>
    </transition-group>
    <div :class="{visible: !historyItems.length}" class="empty-overlay">
      <img src="../../images/logo-empty.png" />
      <b>This bingo looks quite empty</b>
      <p>Select a box to add in some folks !</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'History',
  computed: {
    historyItems () {
      return this.$store.state.grid.cells
        .map(cell => cell.channelHits
          .map(h => ({
            cell,
            channel: this.$store.getters.findCachedChannel(h.id),
            key: `${cell.id}-${h.id}-${h.time}`,
            time: h.time,
            timeString: new Date(Math.floor(h.time * 1000)).toLocaleTimeString(undefined, { hour: 'numeric', minute: 'numeric' }) // TODO: Better formatting
          }))
        )
        .filter(hits => !!hits.length)
        .reduce((acc, val) => acc.concat(val), [])
        .sort((a, b) => a.time - b.time)
    }
  }
}
</script>
